/*
Sonatype Guide API

REST API into [Sonatype Guide](https://guide.sonatype.com).

API version: 202608
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sonatypeguide

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// ComponentsAPIService ComponentsAPI service
type ComponentsAPIService service

type ApiGetComponentDependenciesByPurlQueryParamRequest struct {
	ctx context.Context
	ApiService *ComponentsAPIService
	purl *string
	format *string
	name *string
	version *string
	query *string
	offset *int32
	limit *int32
	sortField *string
	sortOrder *string
	formats *[]string
	categories *[]string
	severities *[]string
	minCvss *float64
	maxCvss *float64
	minVersionScore *int32
	maxVersionScore *int32
	licenseFamilies *[]string
	licenses *[]string
	latestStable *string
	namespace *string
	extension *string
	classifier *string
}

// URL-encoded PURL (e.g., pkg%3Amaven%2F...)
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) Purl(purl string) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.purl = &purl
	return r
}

// Package format (e.g., maven, npm, pypi)
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) Format(format string) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.format = &format
	return r
}

// Package name
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) Name(name string) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.name = &name
	return r
}

// Package version
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) Version(version string) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.version = &version
	return r
}

// Text search query (searches name, namespace, refid)
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) Query(query string) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.query = &query
	return r
}

// Pagination offset (default: 0)
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) Offset(offset int32) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.offset = &offset
	return r
}

// Pagination limit (default: 20)
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) Limit(limit int32) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.limit = &limit
	return r
}

// Field to sort by (default: name)
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) SortField(sortField string) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.sortField = &sortField
	return r
}

// Sort order: asc or desc (default: asc)
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) SortOrder(sortOrder string) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.sortOrder = &sortOrder
	return r
}

// Format filter (e.g., maven, npm, pypi) - repeatable
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) Formats(formats []string) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.formats = &formats
	return r
}

// Category filter (e.g., Logging, Framework) - repeatable
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) Categories(categories []string) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.categories = &categories
	return r
}

// CVSS severity filter (e.g., critical, high) - repeatable
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) Severities(severities []string) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.severities = &severities
	return r
}

// Minimum CVSS score (0.0 to 10.0)
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) MinCvss(minCvss float64) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.minCvss = &minCvss
	return r
}

// Maximum CVSS score (0.0 to 10.0)
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) MaxCvss(maxCvss float64) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.maxCvss = &maxCvss
	return r
}

// Minimum version score (0 to 100)
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) MinVersionScore(minVersionScore int32) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.minVersionScore = &minVersionScore
	return r
}

// Maximum version score (0 to 100)
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) MaxVersionScore(maxVersionScore int32) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.maxVersionScore = &maxVersionScore
	return r
}

// Licence family filter (e.g., Banned, Copyleft) - repeatable
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) LicenseFamilies(licenseFamilies []string) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.licenseFamilies = &licenseFamilies
	return r
}

// Licence name filter (e.g., MIT, Apache-2.0, GPL-3.0+) - repeatable
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) Licenses(licenses []string) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.licenses = &licenses
	return r
}

// Filter by latest stable versions: &#39;true&#39; for stable only, &#39;false&#39; for non-stable only, &#39;all&#39; for no filter
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) LatestStable(latestStable string) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.latestStable = &latestStable
	return r
}

// Package namespace/groupId (optional)
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) Namespace(namespace string) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.namespace = &namespace
	return r
}

// Artifact extension (e.g., jar, war, pom)
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) Extension(extension string) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.extension = &extension
	return r
}

// Artifact classifier (e.g., sources, javadoc)
func (r ApiGetComponentDependenciesByPurlQueryParamRequest) Classifier(classifier string) ApiGetComponentDependenciesByPurlQueryParamRequest {
	r.classifier = &classifier
	return r
}

func (r ApiGetComponentDependenciesByPurlQueryParamRequest) Execute() (*ApiSearchResponse, *http.Response, error) {
	return r.ApiService.GetComponentDependenciesByPurlQueryParamExecute(r)
}

/*
GetComponentDependenciesByPurlQueryParam Get dependencies for a component by coordinates (query parameters)

Retrieves all direct dependencies of a specific component using explicit coordinate parameters (format, namespace, name, version). Returns full component details for each dependency with comprehensive filtering by format, category, CVSS severity, and license. Namespace is optional for some formats

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetComponentDependenciesByPurlQueryParamRequest
*/
func (a *ComponentsAPIService) GetComponentDependenciesByPurlQueryParam(ctx context.Context) ApiGetComponentDependenciesByPurlQueryParamRequest {
	return ApiGetComponentDependenciesByPurlQueryParamRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiSearchResponse
func (a *ComponentsAPIService) GetComponentDependenciesByPurlQueryParamExecute(r ApiGetComponentDependenciesByPurlQueryParamRequest) (*ApiSearchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiSearchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComponentsAPIService.GetComponentDependenciesByPurlQueryParam")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/components/dependencies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.purl == nil {
		return localVarReturnValue, nil, reportError("purl is required and must be specified")
	}
	if r.format == nil {
		return localVarReturnValue, nil, reportError("format is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if r.version == nil {
		return localVarReturnValue, nil, reportError("version is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "purl", r.purl, "form", "")
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	}
	if r.formats != nil {
		t := *r.formats
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "formats", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "formats", t, "form", "multi")
		}
	}
	if r.categories != nil {
		t := *r.categories
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "categories", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "categories", t, "form", "multi")
		}
	}
	if r.severities != nil {
		t := *r.severities
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "severities", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "severities", t, "form", "multi")
		}
	}
	if r.minCvss != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "minCvss", r.minCvss, "form", "")
	}
	if r.maxCvss != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxCvss", r.maxCvss, "form", "")
	}
	if r.minVersionScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "minVersionScore", r.minVersionScore, "form", "")
	}
	if r.maxVersionScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxVersionScore", r.maxVersionScore, "form", "")
	}
	if r.licenseFamilies != nil {
		t := *r.licenseFamilies
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "licenseFamilies", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "licenseFamilies", t, "form", "multi")
		}
	}
	if r.licenses != nil {
		t := *r.licenses
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "licenses", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "licenses", t, "form", "multi")
		}
	}
	if r.latestStable != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latestStable", r.latestStable, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	if r.namespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespace", r.namespace, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	if r.extension != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "extension", r.extension, "form", "")
	}
	if r.classifier != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "classifier", r.classifier, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiSearchResponseComponentDocument
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiSearchResponseComponentDocument
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetComponentDetailByPurlQueryParamRequest struct {
	ctx context.Context
	ApiService *ComponentsAPIService
	purl *string
	format *string
	name *string
	version *string
	namespace *string
	extension *string
	classifier *string
}

// URL-encoded PURL (e.g., pkg%3Amaven%2F...)
func (r ApiGetComponentDetailByPurlQueryParamRequest) Purl(purl string) ApiGetComponentDetailByPurlQueryParamRequest {
	r.purl = &purl
	return r
}

// Package format (e.g., maven, npm, pypi)
func (r ApiGetComponentDetailByPurlQueryParamRequest) Format(format string) ApiGetComponentDetailByPurlQueryParamRequest {
	r.format = &format
	return r
}

// Package name
func (r ApiGetComponentDetailByPurlQueryParamRequest) Name(name string) ApiGetComponentDetailByPurlQueryParamRequest {
	r.name = &name
	return r
}

// Package version
func (r ApiGetComponentDetailByPurlQueryParamRequest) Version(version string) ApiGetComponentDetailByPurlQueryParamRequest {
	r.version = &version
	return r
}

// Package namespace/groupId (optional)
func (r ApiGetComponentDetailByPurlQueryParamRequest) Namespace(namespace string) ApiGetComponentDetailByPurlQueryParamRequest {
	r.namespace = &namespace
	return r
}

// Artifact extension (e.g., jar, war, pom)
func (r ApiGetComponentDetailByPurlQueryParamRequest) Extension(extension string) ApiGetComponentDetailByPurlQueryParamRequest {
	r.extension = &extension
	return r
}

// Artifact classifier (e.g., sources, javadoc)
func (r ApiGetComponentDetailByPurlQueryParamRequest) Classifier(classifier string) ApiGetComponentDetailByPurlQueryParamRequest {
	r.classifier = &classifier
	return r
}

func (r ApiGetComponentDetailByPurlQueryParamRequest) Execute() (*ComponentDetailDocument, *http.Response, error) {
	return r.ApiService.GetComponentDetailByPurlQueryParamExecute(r)
}

/*
GetComponentDetailByPurlQueryParam Get component detail by coordinates (query parameters)

Retrieves detailed information about a specific component using explicit coordinate parameters (format, namespace, name, version). Namespace is optional for some formats

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetComponentDetailByPurlQueryParamRequest
*/
func (a *ComponentsAPIService) GetComponentDetailByPurlQueryParam(ctx context.Context) ApiGetComponentDetailByPurlQueryParamRequest {
	return ApiGetComponentDetailByPurlQueryParamRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ComponentDetailDocument
func (a *ComponentsAPIService) GetComponentDetailByPurlQueryParamExecute(r ApiGetComponentDetailByPurlQueryParamRequest) (*ComponentDetailDocument, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComponentDetailDocument
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComponentsAPIService.GetComponentDetailByPurlQueryParam")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/components/detail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.purl == nil {
		return localVarReturnValue, nil, reportError("purl is required and must be specified")
	}
	if r.format == nil {
		return localVarReturnValue, nil, reportError("format is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if r.version == nil {
		return localVarReturnValue, nil, reportError("version is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "purl", r.purl, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	if r.namespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespace", r.namespace, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	if r.extension != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "extension", r.extension, "form", "")
	}
	if r.classifier != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "classifier", r.classifier, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ComponentDetailDocument
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ComponentDetailDocument
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetComponentVersionsByPurlQueryParamRequest struct {
	ctx context.Context
	ApiService *ComponentsAPIService
	purl *string
	format *string
	name *string
	version *string
	offset *int32
	limit *int32
	sortField *string
	sortOrder *string
	severities *[]string
	minCvss *float64
	maxCvss *float64
	minVersionScore *int32
	maxVersionScore *int32
	versionQuery *string
	publishedWindow *string
	hasMalware *bool
	isStable *bool
	namespace *string
	extension *string
	classifier *string
}

// URL-encoded PURL (e.g., pkg%3Amaven%2F...)
func (r ApiGetComponentVersionsByPurlQueryParamRequest) Purl(purl string) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.purl = &purl
	return r
}

// Package format (e.g., maven, npm, pypi)
func (r ApiGetComponentVersionsByPurlQueryParamRequest) Format(format string) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.format = &format
	return r
}

// Package name
func (r ApiGetComponentVersionsByPurlQueryParamRequest) Name(name string) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.name = &name
	return r
}

// Package version to exclude from results
func (r ApiGetComponentVersionsByPurlQueryParamRequest) Version(version string) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.version = &version
	return r
}

// Pagination offset (default: 0)
func (r ApiGetComponentVersionsByPurlQueryParamRequest) Offset(offset int32) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.offset = &offset
	return r
}

// Pagination limit (default: 20)
func (r ApiGetComponentVersionsByPurlQueryParamRequest) Limit(limit int32) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.limit = &limit
	return r
}

// Field to sort by (default: version)
func (r ApiGetComponentVersionsByPurlQueryParamRequest) SortField(sortField string) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.sortField = &sortField
	return r
}

// Sort order: asc or desc (default: desc)
func (r ApiGetComponentVersionsByPurlQueryParamRequest) SortOrder(sortOrder string) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.sortOrder = &sortOrder
	return r
}

// CVSS severity filter (e.g., critical, high) - repeatable
func (r ApiGetComponentVersionsByPurlQueryParamRequest) Severities(severities []string) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.severities = &severities
	return r
}

// Minimum CVSS score (0.0 to 10.0)
func (r ApiGetComponentVersionsByPurlQueryParamRequest) MinCvss(minCvss float64) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.minCvss = &minCvss
	return r
}

// Maximum CVSS score (0.0 to 10.0)
func (r ApiGetComponentVersionsByPurlQueryParamRequest) MaxCvss(maxCvss float64) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.maxCvss = &maxCvss
	return r
}

// Minimum version score (0 to 100)
func (r ApiGetComponentVersionsByPurlQueryParamRequest) MinVersionScore(minVersionScore int32) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.minVersionScore = &minVersionScore
	return r
}

// Maximum version score (0 to 100)
func (r ApiGetComponentVersionsByPurlQueryParamRequest) MaxVersionScore(maxVersionScore int32) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.maxVersionScore = &maxVersionScore
	return r
}

// Filter versions by version prefix (e.g., &#39;2.10&#39; matches &#39;2.10.0&#39;, &#39;2.10.1&#39;, &#39;2.10-RC1&#39;)
func (r ApiGetComponentVersionsByPurlQueryParamRequest) VersionQuery(versionQuery string) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.versionQuery = &versionQuery
	return r
}

// Time window for published date (e.g., 7d, 30d, 60d, 90d, 6m, 1y, 2y)
func (r ApiGetComponentVersionsByPurlQueryParamRequest) PublishedWindow(publishedWindow string) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.publishedWindow = &publishedWindow
	return r
}

// Malware filter (true&#x3D;has malware, false&#x3D;no malware)
func (r ApiGetComponentVersionsByPurlQueryParamRequest) HasMalware(hasMalware bool) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.hasMalware = &hasMalware
	return r
}

// Stable version filter (true&#x3D;stable only, false&#x3D;pre-release only, null&#x3D;all)
func (r ApiGetComponentVersionsByPurlQueryParamRequest) IsStable(isStable bool) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.isStable = &isStable
	return r
}

// Package namespace/groupId (optional)
func (r ApiGetComponentVersionsByPurlQueryParamRequest) Namespace(namespace string) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.namespace = &namespace
	return r
}

// Artifact extension (e.g., jar, war, pom)
func (r ApiGetComponentVersionsByPurlQueryParamRequest) Extension(extension string) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.extension = &extension
	return r
}

// Artifact classifier (e.g., sources, javadoc)
func (r ApiGetComponentVersionsByPurlQueryParamRequest) Classifier(classifier string) ApiGetComponentVersionsByPurlQueryParamRequest {
	r.classifier = &classifier
	return r
}

func (r ApiGetComponentVersionsByPurlQueryParamRequest) Execute() (*ApiSearchResponse, *http.Response, error) {
	return r.ApiService.GetComponentVersionsByPurlQueryParamExecute(r)
}

/*
GetComponentVersionsByPurlQueryParam Get all component versions by coordinates (query parameters)

Retrieves all versions of a component using explicit coordinate parameters (format, namespace, name, version). Returns all versions EXCEPT the version specified. Namespace is optional for some formats

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetComponentVersionsByPurlQueryParamRequest
*/
func (a *ComponentsAPIService) GetComponentVersionsByPurlQueryParam(ctx context.Context) ApiGetComponentVersionsByPurlQueryParamRequest {
	return ApiGetComponentVersionsByPurlQueryParamRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiSearchResponse
func (a *ComponentsAPIService) GetComponentVersionsByPurlQueryParamExecute(r ApiGetComponentVersionsByPurlQueryParamRequest) (*ApiSearchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiSearchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComponentsAPIService.GetComponentVersionsByPurlQueryParam")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/components/versions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.purl == nil {
		return localVarReturnValue, nil, reportError("purl is required and must be specified")
	}
	if r.format == nil {
		return localVarReturnValue, nil, reportError("format is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if r.version == nil {
		return localVarReturnValue, nil, reportError("version is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "purl", r.purl, "form", "")
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	}
	if r.severities != nil {
		t := *r.severities
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "severities", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "severities", t, "form", "multi")
		}
	}
	if r.minCvss != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "minCvss", r.minCvss, "form", "")
	}
	if r.maxCvss != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxCvss", r.maxCvss, "form", "")
	}
	if r.minVersionScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "minVersionScore", r.minVersionScore, "form", "")
	}
	if r.maxVersionScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxVersionScore", r.maxVersionScore, "form", "")
	}
	if r.versionQuery != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "versionQuery", r.versionQuery, "form", "")
	}
	if r.publishedWindow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "publishedWindow", r.publishedWindow, "form", "")
	}
	if r.hasMalware != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hasMalware", r.hasMalware, "form", "")
	}
	if r.isStable != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isStable", r.isStable, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	if r.namespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespace", r.namespace, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	if r.extension != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "extension", r.extension, "form", "")
	}
	if r.classifier != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "classifier", r.classifier, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiSearchResponseComponentDetailDocument
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetComponentVulnerabilitiesByPurlQueryParamRequest struct {
	ctx context.Context
	ApiService *ComponentsAPIService
	purl *string
	format *string
	name *string
	version *string
	offset *int32
	limit *int32
	sortField *string
	sortOrder *string
	severities *[]string
	minCvss *float64
	maxCvss *float64
	minEpss *float64
	maxEpss *float64
	hasMalware *bool
	patchAvailable *bool
	policyCompliant *bool
	cwes *[]string
	exploitationKnown *bool
	publishedWindow *string
	namespace *string
	extension *string
	classifier *string
}

// URL-encoded PURL (e.g., pkg%3Amaven%2F...)
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) Purl(purl string) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.purl = &purl
	return r
}

// Package format (e.g., maven, npm, pypi)
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) Format(format string) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.format = &format
	return r
}

// Package name
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) Name(name string) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.name = &name
	return r
}

// Package version
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) Version(version string) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.version = &version
	return r
}

// Pagination offset (default: 0)
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) Offset(offset int32) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.offset = &offset
	return r
}

// Pagination limit (default: 20)
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) Limit(limit int32) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.limit = &limit
	return r
}

// Field to sort by (default: cvssSeverity)
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) SortField(sortField string) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.sortField = &sortField
	return r
}

// Sort order: asc or desc (default: desc)
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) SortOrder(sortOrder string) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.sortOrder = &sortOrder
	return r
}

// Severity filter (e.g., critical, high) - repeatable
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) Severities(severities []string) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.severities = &severities
	return r
}

// Minimum CVSS score (0.0 to 10.0)
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) MinCvss(minCvss float64) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.minCvss = &minCvss
	return r
}

// Maximum CVSS score (0.0 to 10.0)
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) MaxCvss(maxCvss float64) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.maxCvss = &maxCvss
	return r
}

// Minimum EPSS score (0.0 to 1.0)
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) MinEpss(minEpss float64) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.minEpss = &minEpss
	return r
}

// Maximum EPSS score (0.0 to 1.0)
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) MaxEpss(maxEpss float64) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.maxEpss = &maxEpss
	return r
}

// Malware flag filter (true&#x3D;has malware, false&#x3D;no malware)
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) HasMalware(hasMalware bool) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.hasMalware = &hasMalware
	return r
}

// Patch availability filter (true&#x3D;available, false&#x3D;not available)
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) PatchAvailable(patchAvailable bool) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.patchAvailable = &patchAvailable
	return r
}

// Policy compliance filter (true&#x3D;compliant, false&#x3D;non-compliant)
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) PolicyCompliant(policyCompliant bool) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.policyCompliant = &policyCompliant
	return r
}

// CWE filter (e.g., CWE-79, CWE-89) - repeatable
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) Cwes(cwes []string) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.cwes = &cwes
	return r
}

// KEV filter - known exploited vulnerability
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) ExploitationKnown(exploitationKnown bool) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.exploitationKnown = &exploitationKnown
	return r
}

// Time window for published date (e.g., 30d, 1y)
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) PublishedWindow(publishedWindow string) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.publishedWindow = &publishedWindow
	return r
}

// Package namespace/groupId (optional)
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) Namespace(namespace string) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.namespace = &namespace
	return r
}

// Artifact extension (e.g., jar, war, pom)
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) Extension(extension string) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.extension = &extension
	return r
}

// Artifact classifier (e.g., sources, javadoc)
func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) Classifier(classifier string) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	r.classifier = &classifier
	return r
}

func (r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) Execute() (*ApiSearchResponse, *http.Response, error) {
	return r.ApiService.GetComponentVulnerabilitiesByPurlQueryParamExecute(r)
}

/*
GetComponentVulnerabilitiesByPurlQueryParam Get vulnerabilities for a component by coordinates (query parameters)

Retrieves all vulnerabilities affecting a specific component using explicit coordinate parameters (format, namespace, name, version). Supports comprehensive filtering by severity, CVSS score, CWE, and more. Namespace is optional for some formats

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetComponentVulnerabilitiesByPurlQueryParamRequest
*/
func (a *ComponentsAPIService) GetComponentVulnerabilitiesByPurlQueryParam(ctx context.Context) ApiGetComponentVulnerabilitiesByPurlQueryParamRequest {
	return ApiGetComponentVulnerabilitiesByPurlQueryParamRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiSearchResponse
func (a *ComponentsAPIService) GetComponentVulnerabilitiesByPurlQueryParamExecute(r ApiGetComponentVulnerabilitiesByPurlQueryParamRequest) (*ApiSearchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiSearchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComponentsAPIService.GetComponentVulnerabilitiesByPurlQueryParam")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/components/vulnerabilities"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.purl == nil {
		return localVarReturnValue, nil, reportError("purl is required and must be specified")
	}
	if r.format == nil {
		return localVarReturnValue, nil, reportError("format is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if r.version == nil {
		return localVarReturnValue, nil, reportError("version is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "purl", r.purl, "form", "")
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	}
	if r.severities != nil {
		t := *r.severities
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "severities", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "severities", t, "form", "multi")
		}
	}
	if r.minCvss != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "minCvss", r.minCvss, "form", "")
	}
	if r.maxCvss != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxCvss", r.maxCvss, "form", "")
	}
	if r.minEpss != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "minEpss", r.minEpss, "form", "")
	}
	if r.maxEpss != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "maxEpss", r.maxEpss, "form", "")
	}
	if r.hasMalware != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hasMalware", r.hasMalware, "form", "")
	}
	if r.patchAvailable != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "patchAvailable", r.patchAvailable, "form", "")
	}
	if r.policyCompliant != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policyCompliant", r.policyCompliant, "form", "")
	}
	if r.cwes != nil {
		t := *r.cwes
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "cwes", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "cwes", t, "form", "multi")
		}
	}
	if r.exploitationKnown != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exploitationKnown", r.exploitationKnown, "form", "")
	}
	if r.publishedWindow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "publishedWindow", r.publishedWindow, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	if r.namespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespace", r.namespace, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	if r.extension != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "extension", r.extension, "form", "")
	}
	if r.classifier != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "classifier", r.classifier, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiSearchResponseVulnerabilityDocument
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ApiSearchResponseVulnerabilityDocument
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetLatestVersionRequest struct {
	ctx context.Context
	ApiService *ComponentsAPIService
	latestVersionRequest *LatestVersionRequest
}

func (r ApiGetLatestVersionRequest) LatestVersionRequest(latestVersionRequest LatestVersionRequest) ApiGetLatestVersionRequest {
	r.latestVersionRequest = &latestVersionRequest
	return r
}

func (r ApiGetLatestVersionRequest) Execute() (*ComponentDetailDocument, *http.Response, error) {
	return r.ApiService.GetLatestVersionExecute(r)
}

/*
GetLatestVersion Get latest version of a component

Retrieves the latest version of a component specified by PURL. The PURL should not include a version, or the version will be ignored.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetLatestVersionRequest
*/
func (a *ComponentsAPIService) GetLatestVersion(ctx context.Context) ApiGetLatestVersionRequest {
	return ApiGetLatestVersionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ComponentDetailDocument
func (a *ComponentsAPIService) GetLatestVersionExecute(r ApiGetLatestVersionRequest) (*ComponentDetailDocument, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ComponentDetailDocument
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComponentsAPIService.GetLatestVersion")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/components/latest-version"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.latestVersionRequest == nil {
		return localVarReturnValue, nil, reportError("latestVersionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.latestVersionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ComponentDetailDocument
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ComponentDetailDocument
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
