openapi: 3.1.0
info:
  contact:
    name: Sonatype Community Maintainers
    url: https://github.com/sonatype-nexus-community
  description: "REST API into [Sonatype Guide](https://guide.sonatype.com)."
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Sonatype Guide API
  version: "202605"
servers:
- description: Production
  url: https://api.guide.sonatype.com
security:
- bearer-jwt: []
tags:
- description: Credit usage and billing period APIs
  name: Usage
- description: Vulnerability search and filtering API
  name: Vulnerabilities
- description: Personal Access Token management APIs
  name: Current User Tokens
- description: Component search and filtering API
  name: Components
- description: Legacy OSSI API providing backward compatibility. Allows existing OSSI
    users to continue using their OSSI API tokens without creating a new Sonatype
    Guide account. Authentication requires HTTP Basic Auth with OSSI username and
    API token.
  name: OSS Index Compatibility
- description: Billing and subscription management API
  name: Billing
- description: Current user organization management APIs
  name: Current User Organization
- description: Version upgrade recommendation API
  name: Recommendations
paths:
  /api/v3/authorized/component-report:
    post:
      description: |
        Retrieves component reports for multiple Package URLs (PURLs) in a single request.

        Authentication:
        - HTTP Basic Authentication required
        - Authorization header: Basic <base64(username:apiToken)>

        Request Body:
        - Array of PURLs (max 128 components)
        - Each PURL must include a version

        Response Headers:
        - X-Batch-Size: Total number of components requested
        - X-Batch-Found: Number of components found
        - X-Credits-Used: Credits consumed for this request
        - X-Credits-Remaining: Available credit balance
        - X-Credits-Warning: Alert when approaching credit limit (JSON)

        Note: Credits are only charged for components found. Requests for the same
        components on the same day are not charged multiple times.
      operationId: getComponentReports_1
      parameters:
      - explode: false
        in: header
        name: User-Agent
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PurlRequest_Post"
          application/vnd.ossindex.component-report-request.v1+json:
            schema:
              $ref: "#/components/schemas/PurlRequest_Post"
        required: true
      responses:
        "200":
          content:
            application/vnd.ossindex.component-report.v1+json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentReport_Post"
                type: array
          description: Component reports retrieved successfully
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentReport_Post"
                type: array
            application/vnd.ossindex.component-report.v1+json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentReport_Post"
                type: array
          description: Invalid request - missing coordinates or invalid PURL format
        "401":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentReport_Post"
                type: array
            application/vnd.ossindex.component-report.v1+json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentReport_Post"
                type: array
          description: Unauthorized - invalid credentials
        "402":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentReport_Post"
                type: array
            application/vnd.ossindex.component-report.v1+json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentReport_Post"
                type: array
          description: Payment required - insufficient credits
        "500":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentReport_Post"
                type: array
            application/vnd.ossindex.component-report.v1+json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentReport_Post"
                type: array
          description: Internal server error - OSSI service unavailable or other system
            error
      security:
      - ossi-basic-auth: []
      summary: Get component reports for multiple PURLs
      tags:
      - OSS Index Compatibility
  /api/v3/authorized/component-report/**:
    get:
      description: |
        Retrieves a component report for a single Package URL (PURL).

        Authentication:
        - HTTP Basic Authentication required
        - Authorization header: Basic <base64(username:apiToken)>

        Response Headers:
        - X-Credits-Used: Credits consumed for this request
        - X-Credits-Remaining: Available credit balance
        - X-Credits-Warning: Alert when approaching credit limit (JSON)

        Note: Credits are only charged when a component is found. Requests for the same
        component on the same day are not charged multiple times.
      operationId: getComponentReport
      parameters:
      - explode: false
        in: header
        name: User-Agent
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.ossindex.component-report.v1+json:
              schema:
                $ref: "#/components/schemas/ComponentReport_Get"
          description: Component report retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComponentReport_Get"
            application/vnd.ossindex.component-report.v1+json:
              schema:
                $ref: "#/components/schemas/ComponentReport_Get"
          description: Invalid request - missing coordinates or invalid PURL format
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComponentReport_Get"
            application/vnd.ossindex.component-report.v1+json:
              schema:
                $ref: "#/components/schemas/ComponentReport_Get"
          description: Unauthorized - invalid credentials
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComponentReport_Get"
            application/vnd.ossindex.component-report.v1+json:
              schema:
                $ref: "#/components/schemas/ComponentReport_Get"
          description: Payment required - insufficient credits
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComponentReport_Get"
            application/vnd.ossindex.component-report.v1+json:
              schema:
                $ref: "#/components/schemas/ComponentReport_Get"
          description: Internal server error - OSSI service unavailable or other system
            error
      security:
      - ossi-basic-auth: []
      summary: Get component report by PURL
      tags:
      - OSS Index Compatibility
  /api/v3/component-report:
    post:
      description: |
        Retrieves component reports for multiple Package URLs (PURLs) in a single request.

        Authentication:
        - HTTP Basic Authentication required
        - Authorization header: Basic <base64(username:apiToken)>

        Request Body:
        - Array of PURLs (max 128 components)
        - Each PURL must include a version

        Response Headers:
        - X-Batch-Size: Total number of components requested
        - X-Batch-Found: Number of components found
        - X-Credits-Used: Credits consumed for this request
        - X-Credits-Remaining: Available credit balance
        - X-Credits-Warning: Alert when approaching credit limit (JSON)

        Note: Credits are only charged for components found. Requests for the same
        components on the same day are not charged multiple times.
      operationId: getComponentReports
      parameters:
      - explode: false
        in: header
        name: User-Agent
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PurlRequest_Post"
          application/vnd.ossindex.component-report-request.v1+json:
            schema:
              $ref: "#/components/schemas/PurlRequest_Post"
        required: true
      responses:
        "200":
          content:
            application/vnd.ossindex.component-report.v1+json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentReport_Post"
                type: array
          description: Component reports retrieved successfully
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentReport_Post"
                type: array
            application/vnd.ossindex.component-report.v1+json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentReport_Post"
                type: array
          description: Invalid request - missing coordinates or invalid PURL format
        "401":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentReport_Post"
                type: array
            application/vnd.ossindex.component-report.v1+json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentReport_Post"
                type: array
          description: Unauthorized - invalid credentials
        "402":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentReport_Post"
                type: array
            application/vnd.ossindex.component-report.v1+json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentReport_Post"
                type: array
          description: Payment required - insufficient credits
        "500":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentReport_Post"
                type: array
            application/vnd.ossindex.component-report.v1+json:
              schema:
                items:
                  $ref: "#/components/schemas/ComponentReport_Post"
                type: array
          description: Internal server error - OSSI service unavailable or other system
            error
      security:
      - ossi-basic-auth: []
      summary: Get component reports for multiple PURLs
      tags:
      - OSS Index Compatibility
  /api/v3/component-report/**:
    get:
      description: |
        Retrieves a component report for a single Package URL (PURL).

        Authentication:
        - HTTP Basic Authentication required
        - Authorization header: Basic <base64(username:apiToken)>

        Response Headers:
        - X-Credits-Used: Credits consumed for this request
        - X-Credits-Remaining: Available credit balance
        - X-Credits-Warning: Alert when approaching credit limit (JSON)

        Note: Credits are only charged when a component is found. Requests for the same
        component on the same day are not charged multiple times.
      operationId: getComponentReport_1
      parameters:
      - explode: false
        in: header
        name: User-Agent
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.ossindex.component-report.v1+json:
              schema:
                $ref: "#/components/schemas/ComponentReport_Get"
          description: Component report retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComponentReport_Get"
            application/vnd.ossindex.component-report.v1+json:
              schema:
                $ref: "#/components/schemas/ComponentReport_Get"
          description: Invalid request - missing coordinates or invalid PURL format
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComponentReport_Get"
            application/vnd.ossindex.component-report.v1+json:
              schema:
                $ref: "#/components/schemas/ComponentReport_Get"
          description: Unauthorized - invalid credentials
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComponentReport_Get"
            application/vnd.ossindex.component-report.v1+json:
              schema:
                $ref: "#/components/schemas/ComponentReport_Get"
          description: Payment required - insufficient credits
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComponentReport_Get"
            application/vnd.ossindex.component-report.v1+json:
              schema:
                $ref: "#/components/schemas/ComponentReport_Get"
          description: Internal server error - OSSI service unavailable or other system
            error
      security:
      - ossi-basic-auth: []
      summary: Get component report by PURL
      tags:
      - OSS Index Compatibility
  /api/v3/version:
    get:
      deprecated: true
      description: Returns the API version information. This endpoint is public and
        does not require authentication.
      operationId: getVersion
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
      security:
      - ossi-basic-auth: []
      summary: Get API version
      tags:
      - OSS Index Compatibility
  /billing:
    get:
      description: "Retrieves billing details including cost, period, and payment\
        \ method"
      operationId: getBilling
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingDTO"
          description: Billing info retrieved
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingDTO"
          description: User is not an organization owner
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingDTO"
          description: Subscription not found
      summary: Get billing information
      tags:
      - Billing
  /billing/invoices:
    get:
      description: "Retrieves the complete invoice history for the current user. Returns\
        \ a list of all invoices with details including invoice ID, date, description,\
        \ amount, payment status, PDF link, and credit usage for each billing period."
      operationId: getUserInvoiceHistory
      responses:
        "200":
          content:
            application/json:
              schema:
                example:
                  invoices:
                  - amount: 1200.0
                    creditsTotal: 5000
                    creditsUsed: 3000
                    date: 2024-10-31
                    description: Teams Plan (Annual)
                    id: inv_2024_001
                    pdfUrl: /invoices/inv_2024_001.pdf
                    status: paid
                type: string
          description: Invoice history retrieved successfully
        "403":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Invoice"
                type: array
          description: User is not an organization owner and cannot access billing
            information
      summary: Get user invoice history
      tags:
      - Billing
  /billing/invoices/{invoiceId}/pdf:
    get:
      description: Redirects to a temporary Chargebee download URL for the invoice
        PDF. The URL is short-lived and should be consumed immediately.
      operationId: getInvoicePdf
      parameters:
      - explode: false
        in: path
        name: invoiceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "302":
          description: Redirect to PDF download URL
        "403":
          description: User is not an organization owner
        "404":
          description: Invoice not found or PDF unavailable
      summary: Download invoice PDF
      tags:
      - Billing
  /billing/plans:
    get:
      description: "Retrieves all active subscription plans with dynamic Chargebee\
        \ pricing. Supports both authenticated and unauthenticated requests. When\
        \ authenticated, the user's current plan is marked."
      operationId: getPlans
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlanDTO"
                type: array
          description: Plans retrieved
      summary: Get all available plans
      tags:
      - Billing
  /components/dependencies:
    get:
      description: "Retrieves all direct dependencies of a specific component using\
        \ explicit coordinate parameters (format, namespace, name, version). Returns\
        \ full component details for each dependency with comprehensive filtering\
        \ by format, category, CVSS severity, and license. Namespace is optional for\
        \ some formats"
      operationId: getComponentDependenciesByPurlQueryParam
      parameters:
      - description: "URL-encoded PURL (e.g., pkg%3Amaven%2F...)"
        explode: true
        in: query
        name: purl
        required: true
        schema:
          type: string
        style: form
      - description: "Text search query (searches name, namespace, refid)"
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: "Pagination offset (default: 0)"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Pagination limit (default: 20)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Field to sort by (default: name)"
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          type: string
        style: form
      - description: "Sort order: asc or desc (default: asc)"
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          type: string
        style: form
      - description: "Format filter (e.g., maven, npm, pypi) - repeatable"
        explode: true
        in: query
        name: formats
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Category filter (e.g., Logging, Framework) - repeatable"
        explode: true
        in: query
        name: categories
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "CVSS severity filter (e.g., critical, high) - repeatable"
        explode: true
        in: query
        name: severities
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Minimum CVSS score (0.0 to 10.0)
        explode: true
        in: query
        name: minCvss
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Maximum CVSS score (0.0 to 10.0)
        explode: true
        in: query
        name: maxCvss
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Minimum version score (0 to 100)
        explode: true
        in: query
        name: minVersionScore
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Maximum version score (0 to 100)
        explode: true
        in: query
        name: maxVersionScore
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Licence family filter (e.g., Banned, Copyleft) - repeatable"
        explode: true
        in: query
        name: licenseFamilies
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Licence name filter (e.g., MIT, Apache-2.0, GPL-3.0+) - repeatable"
        explode: true
        in: query
        name: licenses
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Filter by latest stable versions: 'true' for stable only, 'false'\
          \ for non-stable only, 'all' for no filter"
        explode: true
        in: query
        name: latestStable
        required: false
        schema:
          type: string
        style: form
      - description: "Package format (e.g., maven, npm, pypi)"
        explode: true
        in: query
        name: format
        required: true
        schema:
          type: string
        style: form
      - description: Package namespace/groupId (optional)
        explode: true
        in: query
        name: namespace
        required: false
        schema:
          type: string
        style: form
      - description: Package name
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: Package version
        explode: true
        in: query
        name: version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiSearchResponse"
          description: Dependencies found
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiSearchResponseComponentDocument"
          description: Invalid parameters
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiSearchResponseComponentDocument"
          description: Component not found
      summary: Get dependencies for a component by coordinates (query parameters)
      tags:
      - Components
  /components/detail:
    get:
      description: "Retrieves detailed information about a specific component using\
        \ explicit coordinate parameters (format, namespace, name, version). Namespace\
        \ is optional for some formats"
      operationId: getComponentDetailByPurlQueryParam
      parameters:
      - description: "URL-encoded PURL (e.g., pkg%3Amaven%2F...)"
        explode: true
        in: query
        name: purl
        required: true
        schema:
          type: string
        style: form
      - description: "Package format (e.g., maven, npm, pypi)"
        explode: true
        in: query
        name: format
        required: true
        schema:
          type: string
        style: form
      - description: Package namespace/groupId (optional)
        explode: true
        in: query
        name: namespace
        required: false
        schema:
          type: string
        style: form
      - description: Package name
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: Package version
        explode: true
        in: query
        name: version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ComponentDetailDocument"
          description: Component found
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ComponentDetailDocument"
          description: Invalid parameters
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ComponentDetailDocument"
          description: Component not found
      summary: Get component detail by coordinates (query parameters)
      tags:
      - Components
  /components/latest-version:
    post:
      description: "Retrieves the latest version of a component specified by PURL.\
        \ The PURL should not include a version, or the version will be ignored."
      operationId: getLatestVersion
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LatestVersionRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ComponentDetailDocument"
          description: Latest version found
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ComponentDetailDocument"
          description: Invalid request - PURL is required
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ComponentDetailDocument"
          description: Component not found
      summary: Get latest version of a component
      tags:
      - Components
  /components/versions:
    get:
      description: "Retrieves all versions of a component using explicit coordinate\
        \ parameters (format, namespace, name, version). Returns all versions EXCEPT\
        \ the version specified. Namespace is optional for some formats"
      operationId: getComponentVersionsByPurlQueryParam
      parameters:
      - description: "URL-encoded PURL (e.g., pkg%3Amaven%2F...)"
        explode: true
        in: query
        name: purl
        required: true
        schema:
          type: string
        style: form
      - description: "Pagination offset (default: 0)"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Pagination limit (default: 20)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Field to sort by (default: version)"
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          type: string
        style: form
      - description: "Sort order: asc or desc (default: desc)"
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          type: string
        style: form
      - description: "CVSS severity filter (e.g., critical, high) - repeatable"
        explode: true
        in: query
        name: severities
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Minimum CVSS score (0.0 to 10.0)
        explode: true
        in: query
        name: minCvss
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Maximum CVSS score (0.0 to 10.0)
        explode: true
        in: query
        name: maxCvss
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Minimum version score (0 to 100)
        explode: true
        in: query
        name: minVersionScore
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Maximum version score (0 to 100)
        explode: true
        in: query
        name: maxVersionScore
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Filter versions by version prefix (e.g., '2.10' matches '2.10.0',\
          \ '2.10.1', '2.10-RC1')"
        explode: true
        in: query
        name: versionQuery
        required: false
        schema:
          type: string
        style: form
      - description: "Time window for published date (e.g., 7d, 30d, 60d, 90d, 6m,\
          \ 1y, 2y)"
        explode: true
        in: query
        name: publishedWindow
        required: false
        schema:
          type: string
        style: form
      - description: "Malware filter (true=has malware, false=no malware)"
        explode: true
        in: query
        name: hasMalware
        required: false
        schema:
          type: boolean
        style: form
      - description: "Stable version filter (true=stable only, false=pre-release only,\
          \ null=all)"
        explode: true
        in: query
        name: isStable
        required: false
        schema:
          type: boolean
        style: form
      - description: "Package format (e.g., maven, npm, pypi)"
        explode: true
        in: query
        name: format
        required: true
        schema:
          type: string
        style: form
      - description: Package namespace/groupId (optional)
        explode: true
        in: query
        name: namespace
        required: false
        schema:
          type: string
        style: form
      - description: Package name
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: Package version to exclude from results
        explode: true
        in: query
        name: version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiSearchResponse"
          description: Component versions found
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiSearchResponseComponentDetailDocument"
          description: Invalid parameters
      summary: Get all component versions by coordinates (query parameters)
      tags:
      - Components
  /components/vulnerabilities:
    get:
      description: "Retrieves all vulnerabilities affecting a specific component using\
        \ explicit coordinate parameters (format, namespace, name, version). Supports\
        \ comprehensive filtering by severity, CVSS score, CWE, and more. Namespace\
        \ is optional for some formats"
      operationId: getComponentVulnerabilitiesByPurlQueryParam
      parameters:
      - description: "URL-encoded PURL (e.g., pkg%3Amaven%2F...)"
        explode: true
        in: query
        name: purl
        required: true
        schema:
          type: string
        style: form
      - description: "Pagination offset (default: 0)"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Pagination limit (default: 20)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Field to sort by (default: cvssSeverity)"
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          type: string
        style: form
      - description: "Sort order: asc or desc (default: desc)"
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          type: string
        style: form
      - description: "Severity filter (e.g., critical, high) - repeatable"
        explode: true
        in: query
        name: severities
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Minimum CVSS score (0.0 to 10.0)
        explode: true
        in: query
        name: minCvss
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Maximum CVSS score (0.0 to 10.0)
        explode: true
        in: query
        name: maxCvss
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Minimum EPSS score (0.0 to 1.0)
        explode: true
        in: query
        name: minEpss
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Maximum EPSS score (0.0 to 1.0)
        explode: true
        in: query
        name: maxEpss
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: "Malware flag filter (true=has malware, false=no malware)"
        explode: true
        in: query
        name: hasMalware
        required: false
        schema:
          type: boolean
        style: form
      - description: "Patch availability filter (true=available, false=not available)"
        explode: true
        in: query
        name: patchAvailable
        required: false
        schema:
          type: boolean
        style: form
      - description: "Policy compliance filter (true=compliant, false=non-compliant)"
        explode: true
        in: query
        name: policyCompliant
        required: false
        schema:
          type: boolean
        style: form
      - description: "CWE filter (e.g., CWE-79, CWE-89) - repeatable"
        explode: true
        in: query
        name: cwes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: KEV filter - known exploited vulnerability
        explode: true
        in: query
        name: exploitationKnown
        required: false
        schema:
          type: boolean
        style: form
      - description: "Time window for published date (e.g., 30d, 1y)"
        explode: true
        in: query
        name: publishedWindow
        required: false
        schema:
          type: string
        style: form
      - description: "Package format (e.g., maven, npm, pypi)"
        explode: true
        in: query
        name: format
        required: true
        schema:
          type: string
        style: form
      - description: Package namespace/groupId (optional)
        explode: true
        in: query
        name: namespace
        required: false
        schema:
          type: string
        style: form
      - description: Package name
        explode: true
        in: query
        name: name
        required: true
        schema:
          type: string
        style: form
      - description: Package version
        explode: true
        in: query
        name: version
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiSearchResponse"
          description: Vulnerabilities found
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiSearchResponseVulnerabilityDocument"
          description: Invalid parameters
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiSearchResponseVulnerabilityDocument"
          description: Component not found
      summary: Get vulnerabilities for a component by coordinates (query parameters)
      tags:
      - Components
  /recommendations:
    post:
      description: "Retrieves version upgrade recommendations for a component specified\
        \ by PURL. Analyzes security vulnerabilities, stability metrics, and policy\
        \ compliance to suggest optimal upgrade paths. Only policy-compliant versions\
        \ are returned. If a PURL cannot be parsed or policy evaluation fails, the\
        \ response is BLOCKED_BY_POLICY (fail-closed)."
      operationId: getRecommendations
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecommendationRequest"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RecommendationResponse"
          description: Success. Returns fromVersion and toVersions array (empty if
            component is already optimal or all candidates violate policy)
        "400":
          content:
            '*/*':
              schema:
                type: object
          description: Invalid request - malformed PURL or missing required parameters
        "404":
          content:
            '*/*':
              schema:
                type: object
          description: Component not found or no recommendations available
      summary: Get version upgrade recommendations
      tags:
      - Recommendations
  /usage:
    get:
      description: Retrieves current credit usage and period information
      operationId: getUsage
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UsageDTO"
          description: Usage info retrieved
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UsageDTO"
          description: Subscription not found
      security:
      - bearer-jwt: []
      summary: Get usage information
      tags:
      - Usage
  /usage/credit-periods:
    get:
      description: Retrieves all monthly credit periods from subscription start
      operationId: getCreditPeriods
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PeriodDTO"
                type: array
          description: Credit periods retrieved
        "404":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PeriodDTO"
                type: array
          description: Subscription not found
      security:
      - bearer-jwt: []
      summary: Get credit periods
      tags:
      - Usage
  /usage/cumulative:
    get:
      description: "Retrieves daily credit usage with cumulative totals and statistics\
        \ for the specified billing period. Includes total credits used, daily average,\
        \ peak day, and credit limit. Supports both FREE and PAID users."
      operationId: getCumulativeUsage
      parameters:
      - description: Start date (YYYY-MM-DD)
        example: 2025-10-10
        explode: true
        in: query
        name: startDate
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: End date (YYYY-MM-DD)
        example: 2025-11-09
        explode: true
        in: query
        name: endDate
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                billingPeriod:
                  endDate: 2025-11-09
                  startDate: 2025-10-10
                creditLimit: 5000
                dailyAverage: 194
                dailyUsage:
                - cumulativeUsage: 178
                  dailyUsage: 178
                  date: 2025-10-10
                - cumulativeUsage: 381
                  dailyUsage: 203
                  date: 2025-10-11
                peakDay: 248
                totalCreditsUsed: 6004
          description: Credit usage retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CumulativeCreditUsage"
          description: Invalid date format
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CumulativeCreditUsage"
          description: Subscription not found
      security:
      - bearer-jwt: []
      summary: Get cumulative credit usage for a billing period
      tags:
      - Usage
  /usage/ossi-history:
    get:
      description: Retrieves pre-migration OSSI API usage data aggregated by month.
        Shows estimated Guide credits based on historical unique component queries.
        Only available for OSSI-origin users.
      operationId: getOssiUsageHistory
      responses:
        "200":
          content:
            application/json:
              example:
                isEstimate: true
                months:
                - estimatedCredits: 1523.4
                  month: 2025-12
                  totalComponents: 15234
                summary:
                  dataRange:
                    end: 2025-12
                    start: 2025-01
                  monthlyAverage: 1523.4
                  totalCredits: 18280.8
          description: OSSI usage history retrieved successfully
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OssiUsageHistoryDTO"
          description: User not found or not an OSSI-origin user
      security:
      - bearer-jwt: []
      summary: Get historical OSSI usage
      tags:
      - Usage
  /users/me/organization:
    get:
      description: Retrieves organization information without billing/usage details
      operationId: getCurrentUserOrganization
      responses:
        "200":
          content:
            application/json: {}
          description: Organization found
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OrganizationDTO"
          description: Invalid JWT token
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OrganizationDTO"
          description: Organization not found
      security:
      - bearer-jwt: []
      summary: Get current user's organization
      tags:
      - Current User Organization
    put:
      description: "Updates the organization's name, logo URL and URL"
      operationId: updateOrganization
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateOrganizationRequest"
        required: true
      responses:
        "200":
          content:
            application/json: {}
          description: Organization updated successfully
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OrganizationDTO"
          description: Invalid JWT token
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/OrganizationDTO"
          description: Organization not found
      security:
      - bearer-jwt: []
      summary: Update current user's organization
      tags:
      - Current User Organization
  /users/me/organization/invitations/{invitationToken}/accept:
    post:
      description: Accept an invitation to join an organization using the invitation
        token from the email link
      operationId: acceptInvitation
      parameters:
      - explode: false
        in: path
        name: invitationToken
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Invitation accepted successfully
        "400":
          description: "Invalid or expired invitation token, email mismatch, or user\
            \ already in organization"
        "401":
          description: Invalid JWT token
      security:
      - bearer-jwt: []
      summary: Accept organization invitation
      tags:
      - Current User Organization
  /users/me/organization/members:
    delete:
      description: "Removes multiple members or pending invitations from the authenticated\
        \ user's organization. All removals happen in a single transaction - if any\
        \ removal fails, all are rolled back."
      operationId: bulkRemoveMembersOrInvitations
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkRemoveMembersRequest"
        required: true
      responses:
        "204":
          description: All members and invitations removed successfully
        "400":
          description: Invalid request or email list is empty
        "401":
          description: Invalid JWT token
        "404":
          description: "Organization not found, user is not owner, or one or more\
            \ members/invitations not found"
      security:
      - bearer-jwt: []
      summary: Bulk remove members or invitations from organization
      tags:
      - Current User Organization
    get:
      description: Retrieves members and invitees of the authenticated user's organization
      operationId: retrieveOrganizationMembersAsCsv
      responses:
        "200":
          content:
            text/csv: {}
          description: Organization members retrieved successfully
        "401":
          content:
            text/csv:
              schema:
                format: byte
                type: string
          description: Invalid JWT token
      security:
      - bearer-jwt: []
      summary: Retrieve current user's organization members and invitees
      tags:
      - Current User Organization
  /users/me/organization/members/invite:
    post:
      description: Sends an invitation to an email list to join the organization
      operationId: inviteUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteUsersRequest"
        required: true
      responses:
        "200":
          content:
            application/json: {}
          description: Invitations sent successfully
        "400":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/OrganizationMembersResponse"
                type: array
          description: Invalid request or user already invited
        "401":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/OrganizationMembersResponse"
                type: array
          description: Invalid JWT token
        "404":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/OrganizationMembersResponse"
                type: array
          description: Organization not found or user is not owner
      security:
      - bearer-jwt: []
      summary: Invite users to current user's an organization
      tags:
      - Current User Organization
  /users/me/organization/members/{email}:
    delete:
      description: Removes a member or pending invitation from the authenticated user's
        organization
      operationId: removeMemberOrInvitation
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Member or invitation removed successfully
        "401":
          description: Invalid JWT token
        "404":
          description: "Organization not found, user is not owner, or invitation not\
            \ found"
      security:
      - bearer-jwt: []
      summary: Remove member or invitation from organization
      tags:
      - Current User Organization
  /users/me/organization/membership:
    delete:
      description: Allows a member to leave their organization
      operationId: leaveOrganization
      responses:
        "204":
          description: Successfully left
        "400":
          description: "Owner, billing subscriber, or enterprise org"
        "401":
          description: Invalid JWT token
        "404":
          description: No organization
      security:
      - bearer-jwt: []
      summary: Leave organization
      tags:
      - Current User Organization
  /users/me/tokens:
    get:
      description: "Retrieves all tokens for the authenticated user, including active\
        \ and revoked tokens. Plaintext token values are not included."
      operationId: listTokens
      responses:
        "200":
          content:
            application/json: {}
          description: Tokens retrieved successfully
        "401":
          content:
            '*/*':
              schema:
                items:
                  $ref: "#/components/schemas/UserTokenDTO"
                type: array
          description: Invalid JWT token
      security:
      - bearer-jwt: []
      summary: List all Personal Access Tokens
      tags:
      - Current User Tokens
    post:
      description: Creates a new token for API authentication. The plaintext token
        is ONLY returned in this response and cannot be retrieved again.
      operationId: createToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTokenRequest"
        required: true
      responses:
        "200":
          content:
            application/json: {}
          description: Token created successfully
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserTokenWithPlaintextDTO"
          description: "Invalid request (e.g., empty name)"
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserTokenWithPlaintextDTO"
          description: Invalid JWT token
      security:
      - bearer-jwt: []
      summary: Create a new Personal Access Token
      tags:
      - Current User Tokens
  /users/me/tokens/{tokenId}:
    delete:
      description: "Revokes a token, preventing it from being used for authentication."
      operationId: revokeToken
      parameters:
      - explode: false
        in: path
        name: tokenId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Token revoked successfully
        "401":
          description: Invalid JWT token
        "404":
          description: "Token not found or already revoked, or token does not belong\
            \ to user"
      security:
      - bearer-jwt: []
      summary: Revoke a Personal Access Token
      tags:
      - Current User Tokens
    get:
      description: Retrieves a specific token for the authenticated user by ID. Plaintext
        token value is not included.
      operationId: getTokenById
      parameters:
      - explode: false
        in: path
        name: tokenId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json: {}
          description: Token retrieved successfully
        "401":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserTokenDTO"
          description: Invalid JWT token
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserTokenDTO"
          description: Token not found or does not belong to user
      security:
      - bearer-jwt: []
      summary: Get a Personal Access Token by ID
      tags:
      - Current User Tokens
  /vulnerabilities/{id}:
    get:
      description: "Retrieves detailed information about a specific vulnerability\
        \ including explanation, detection methods, recommendations, and references.\
        \ Note: Large arrays (affectedComponentVersions, vulnerableMethods) are excluded\
        \ for performance - use /{id}/components endpoint for paginated affected components."
      operationId: getVulnerabilityByRefId
      parameters:
      - description: "Vulnerability ID (e.g., CVE-2021-44228, GHSA-xxxx-yyyy-zzzz)"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VulnerabilityDetailDocument"
          description: Vulnerability found
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/VulnerabilityDetailDocument"
          description: Vulnerability not found
      summary: Get vulnerability by ID
      tags:
      - Vulnerabilities
  /vulnerabilities/{id}/components:
    get:
      description: "Retrieves paginated list of affected component versions for a\
        \ specific vulnerability with optional text filtering and sorting. Returns\
        \ parsed component structures with ecosystem, namespace, packageName, version,\
        \ and fullPackageName fields."
      operationId: getVulnerabilityAffectedComponents
      parameters:
      - description: "Vulnerability ID (e.g., CVE-2021-44228, GHSA-xxxx-yyyy-zzzz)"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "Text search query (filters ecosystem, namespace, package, version\
          \ fields)"
        explode: true
        in: query
        name: query
        required: false
        schema:
          type: string
        style: form
      - description: "Pagination offset (default: 0)"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Pagination limit (default: 50)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Field to sort by: ecosystem, package (fullPackageName), version\
          \ (default: package)"
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          type: string
        style: form
      - description: "Sort order: asc or desc (default: asc)"
        explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiSearchResponse"
          description: Components retrieved successfully
        "404":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ApiSearchResponseAffectedComponentVersion"
          description: Vulnerability not found
      summary: Get affected components for a vulnerability
      tags:
      - Vulnerabilities
components:
  schemas:
    AffectedComponentVersion:
      example:
        ecosystem: ecosystem
        fullPackageName: fullPackageName
        namespace: namespace
        packageName: packageName
        version: version
      properties:
        ecosystem:
          type: string
        fullPackageName:
          type: string
        namespace:
          type: string
        packageName:
          type: string
        version:
          type: string
    ApiSearchResponse:
      example:
        hits:
        - ""
        - ""
        total: 5
        offset: 1
        limit: 6
        aggregations:
          key:
            key: 0
      properties:
        aggregations:
          additionalProperties:
            additionalProperties:
              format: int64
              type: integer
        hits:
          items: {}
          type: array
        limit:
          format: int32
          type: integer
        offset:
          format: int32
          type: integer
        total:
          format: int64
          type: integer
    ApiSearchResponseAffectedComponentVersion:
      example:
        hits:
        - ecosystem: ecosystem
          fullPackageName: fullPackageName
          namespace: namespace
          packageName: packageName
          version: version
        - ecosystem: ecosystem
          fullPackageName: fullPackageName
          namespace: namespace
          packageName: packageName
          version: version
        total: 5
        offset: 1
        limit: 6
        aggregations:
          key:
            key: 0
      properties:
        aggregations:
          additionalProperties:
            additionalProperties:
              format: int64
              type: integer
        hits:
          items:
            $ref: "#/components/schemas/AffectedComponentVersion"
          type: array
        limit:
          format: int32
          type: integer
        offset:
          format: int32
          type: integer
        total:
          format: int64
          type: integer
    ApiSearchResponseComponentDetailDocument:
      example:
        hits:
        - policyCompliance:
            compliant: true
            conditions:
            - reason: reason
              conditionId: conditionId
              conditionName: conditionName
              passing: true
            - reason: reason
              conditionId: conditionId
              conditionName: conditionName
              passing: true
          components:
          - sha1: sha1
            extension: extension
            refids:
            - severity: 0.8008281904610115
              isMalware: true
              refid: refid
            - severity: 0.8008281904610115
              isMalware: true
              refid: refid
            classifier: classifier
            publishedDate: 2000-01-23T04:56:07.000+00:00
          - sha1: sha1
            extension: extension
            refids:
            - severity: 0.8008281904610115
              isMalware: true
              refid: refid
            - severity: 0.8008281904610115
              isMalware: true
              refid: refid
            classifier: classifier
            publishedDate: 2000-01-23T04:56:07.000+00:00
          dts:
            license: 7
            security: 4
            releaseStability: 2
            popularity: 3
            overall: 9
            age: 2
          isMalware: true
          format: format
          versionScore: 1
          version: version
          latestStable: true
          licenses:
          - licenseThreatLevel: 7
            licenseThreatGroup: licenseThreatGroup
            licenseName: licenseName
          - licenseThreatLevel: 7
            licenseThreatGroup: licenseThreatGroup
            licenseName: licenseName
          originId: originId
          registryLink: registryLink
          directDependencies:
          - directDependencies
          - directDependencies
          name: name
          namespace: namespace
          categories:
          - categories
          - categories
          publishedDate: 2000-01-23T04:56:07.000+00:00
          maxCvss: 6.027456183070403
        - policyCompliance:
            compliant: true
            conditions:
            - reason: reason
              conditionId: conditionId
              conditionName: conditionName
              passing: true
            - reason: reason
              conditionId: conditionId
              conditionName: conditionName
              passing: true
          components:
          - sha1: sha1
            extension: extension
            refids:
            - severity: 0.8008281904610115
              isMalware: true
              refid: refid
            - severity: 0.8008281904610115
              isMalware: true
              refid: refid
            classifier: classifier
            publishedDate: 2000-01-23T04:56:07.000+00:00
          - sha1: sha1
            extension: extension
            refids:
            - severity: 0.8008281904610115
              isMalware: true
              refid: refid
            - severity: 0.8008281904610115
              isMalware: true
              refid: refid
            classifier: classifier
            publishedDate: 2000-01-23T04:56:07.000+00:00
          dts:
            license: 7
            security: 4
            releaseStability: 2
            popularity: 3
            overall: 9
            age: 2
          isMalware: true
          format: format
          versionScore: 1
          version: version
          latestStable: true
          licenses:
          - licenseThreatLevel: 7
            licenseThreatGroup: licenseThreatGroup
            licenseName: licenseName
          - licenseThreatLevel: 7
            licenseThreatGroup: licenseThreatGroup
            licenseName: licenseName
          originId: originId
          registryLink: registryLink
          directDependencies:
          - directDependencies
          - directDependencies
          name: name
          namespace: namespace
          categories:
          - categories
          - categories
          publishedDate: 2000-01-23T04:56:07.000+00:00
          maxCvss: 6.027456183070403
        total: 5
        offset: 1
        limit: 6
        aggregations:
          key:
            key: 0
      properties:
        aggregations:
          additionalProperties:
            additionalProperties:
              format: int64
              type: integer
        hits:
          items:
            $ref: "#/components/schemas/ComponentDetailDocument"
          type: array
        limit:
          format: int32
          type: integer
        offset:
          format: int32
          type: integer
        total:
          format: int64
          type: integer
    ApiSearchResponseComponentDocument:
      example:
        hits:
        - policyCompliance:
            compliant: true
            conditions:
            - reason: reason
              conditionId: conditionId
              conditionName: conditionName
              passing: true
            - reason: reason
              conditionId: conditionId
              conditionName: conditionName
              passing: true
          dts:
            license: 7
            security: 4
            releaseStability: 2
            popularity: 3
            overall: 9
            age: 2
          isMalware: true
          format: format
          versionScore: 1
          version: version
          latestStable: true
          licenses:
          - licenseThreatLevel: 7
            licenseThreatGroup: licenseThreatGroup
            licenseName: licenseName
          - licenseThreatLevel: 7
            licenseThreatGroup: licenseThreatGroup
            licenseName: licenseName
          originId: originId
          registryLink: registryLink
          name: name
          namespace: namespace
          categories:
          - categories
          - categories
          publishedDate: 2000-01-23T04:56:07.000+00:00
          maxCvss: 1.2315135367772556
        - policyCompliance:
            compliant: true
            conditions:
            - reason: reason
              conditionId: conditionId
              conditionName: conditionName
              passing: true
            - reason: reason
              conditionId: conditionId
              conditionName: conditionName
              passing: true
          dts:
            license: 7
            security: 4
            releaseStability: 2
            popularity: 3
            overall: 9
            age: 2
          isMalware: true
          format: format
          versionScore: 1
          version: version
          latestStable: true
          licenses:
          - licenseThreatLevel: 7
            licenseThreatGroup: licenseThreatGroup
            licenseName: licenseName
          - licenseThreatLevel: 7
            licenseThreatGroup: licenseThreatGroup
            licenseName: licenseName
          originId: originId
          registryLink: registryLink
          name: name
          namespace: namespace
          categories:
          - categories
          - categories
          publishedDate: 2000-01-23T04:56:07.000+00:00
          maxCvss: 1.2315135367772556
        total: 7
        offset: 6
        limit: 1
        aggregations:
          key:
            key: 5
      properties:
        aggregations:
          additionalProperties:
            additionalProperties:
              format: int64
              type: integer
        hits:
          items:
            $ref: "#/components/schemas/ComponentDocument"
          type: array
        limit:
          format: int32
          type: integer
        offset:
          format: int32
          type: integer
        total:
          format: int64
          type: integer
    ApiSearchResponseVulnerabilityDocument:
      example:
        hits:
        - cvssSeverity: 6.027456183070403
          summary: summary
          aliases:
          - aliases
          - aliases
          isMalware: true
          vulnId: vulnId
          epss: 1.4658129805029452
          publishedAt: 2000-01-23T04:56:07.000+00:00
          researchType: researchType
          source: source
          affectedEcosystems:
          - affectedEcosystems
          - affectedEcosystems
          cwes:
          - cwes
          - cwes
          sonatypeCwes:
          - sonatypeCwes
          - sonatypeCwes
          sonatypeCvssSeverity: 5.962133916683182
          kev: true
        - cvssSeverity: 6.027456183070403
          summary: summary
          aliases:
          - aliases
          - aliases
          isMalware: true
          vulnId: vulnId
          epss: 1.4658129805029452
          publishedAt: 2000-01-23T04:56:07.000+00:00
          researchType: researchType
          source: source
          affectedEcosystems:
          - affectedEcosystems
          - affectedEcosystems
          cwes:
          - cwes
          - cwes
          sonatypeCwes:
          - sonatypeCwes
          - sonatypeCwes
          sonatypeCvssSeverity: 5.962133916683182
          kev: true
        total: 7
        offset: 2
        limit: 5
        aggregations:
          key:
            key: 0
      properties:
        aggregations:
          additionalProperties:
            additionalProperties:
              format: int64
              type: integer
        hits:
          items:
            $ref: "#/components/schemas/VulnerabilityDocument"
          type: array
        limit:
          format: int32
          type: integer
        offset:
          format: int32
          type: integer
        total:
          format: int64
          type: integer
    BillingDTO:
      example:
        billingPeriodStart: 2000-01-23
        paymentMethod: paymentMethod
        billingPeriodEnd: 2000-01-23
        monthlyCost: 0.8008281904610115
        status: FUTURE
      properties:
        billingPeriodEnd:
          format: date
          type: string
        billingPeriodStart:
          format: date
          type: string
        monthlyCost:
          format: double
          type: number
        paymentMethod:
          type: string
        status:
          enum:
          - FUTURE
          - IN_TRIAL
          - ACTIVE
          - NON_RENEWING
          - PAUSED
          - CANCELLED
          - TRANSFERRED
          type: string
    BulkRemoveMembersRequest:
      example:
        emails:
        - emails
        - emails
      properties:
        emails:
          items:
            format: email
            type: string
          minItems: 1
          type: array
      required:
      - emails
    ComponentArtifact:
      example:
        sha1: sha1
        extension: extension
        refids:
        - severity: 0.8008281904610115
          isMalware: true
          refid: refid
        - severity: 0.8008281904610115
          isMalware: true
          refid: refid
        classifier: classifier
        publishedDate: 2000-01-23T04:56:07.000+00:00
      properties:
        classifier:
          type: string
        extension:
          type: string
        publishedDate:
          format: date-time
          type: string
        refids:
          items:
            $ref: "#/components/schemas/Refid"
          type: array
        sha1:
          type: string
    ComponentDetailDocument:
      example:
        policyCompliance:
          compliant: true
          conditions:
          - reason: reason
            conditionId: conditionId
            conditionName: conditionName
            passing: true
          - reason: reason
            conditionId: conditionId
            conditionName: conditionName
            passing: true
        components:
        - sha1: sha1
          extension: extension
          refids:
          - severity: 0.8008281904610115
            isMalware: true
            refid: refid
          - severity: 0.8008281904610115
            isMalware: true
            refid: refid
          classifier: classifier
          publishedDate: 2000-01-23T04:56:07.000+00:00
        - sha1: sha1
          extension: extension
          refids:
          - severity: 0.8008281904610115
            isMalware: true
            refid: refid
          - severity: 0.8008281904610115
            isMalware: true
            refid: refid
          classifier: classifier
          publishedDate: 2000-01-23T04:56:07.000+00:00
        dts:
          license: 7
          security: 4
          releaseStability: 2
          popularity: 3
          overall: 9
          age: 2
        isMalware: true
        format: format
        versionScore: 1
        version: version
        latestStable: true
        licenses:
        - licenseThreatLevel: 7
          licenseThreatGroup: licenseThreatGroup
          licenseName: licenseName
        - licenseThreatLevel: 7
          licenseThreatGroup: licenseThreatGroup
          licenseName: licenseName
        originId: originId
        registryLink: registryLink
        directDependencies:
        - directDependencies
        - directDependencies
        name: name
        namespace: namespace
        categories:
        - categories
        - categories
        publishedDate: 2000-01-23T04:56:07.000+00:00
        maxCvss: 6.027456183070403
      properties:
        categories:
          items:
            type: string
          type: array
        components:
          items:
            $ref: "#/components/schemas/ComponentArtifact"
          type: array
        directDependencies:
          items:
            type: string
          type: array
        dts:
          $ref: "#/components/schemas/DtsDimensions"
        format:
          type: string
        isMalware:
          type: boolean
        latestStable:
          type: boolean
        licenses:
          items:
            $ref: "#/components/schemas/ComponentLicense"
          type: array
        maxCvss:
          format: double
          type: number
        name:
          type: string
        namespace:
          type: string
        originId:
          type: string
        policyCompliance:
          $ref: "#/components/schemas/PolicyComplianceResult"
        publishedDate:
          format: date-time
          type: string
        registryLink:
          type: string
        version:
          type: string
        versionScore:
          format: int32
          type: integer
    ComponentDocument:
      example:
        policyCompliance:
          compliant: true
          conditions:
          - reason: reason
            conditionId: conditionId
            conditionName: conditionName
            passing: true
          - reason: reason
            conditionId: conditionId
            conditionName: conditionName
            passing: true
        dts:
          license: 7
          security: 4
          releaseStability: 2
          popularity: 3
          overall: 9
          age: 2
        isMalware: true
        format: format
        versionScore: 1
        version: version
        latestStable: true
        licenses:
        - licenseThreatLevel: 7
          licenseThreatGroup: licenseThreatGroup
          licenseName: licenseName
        - licenseThreatLevel: 7
          licenseThreatGroup: licenseThreatGroup
          licenseName: licenseName
        originId: originId
        registryLink: registryLink
        name: name
        namespace: namespace
        categories:
        - categories
        - categories
        publishedDate: 2000-01-23T04:56:07.000+00:00
        maxCvss: 1.2315135367772556
      properties:
        categories:
          items:
            type: string
          type: array
        dts:
          $ref: "#/components/schemas/DtsDimensions"
        format:
          type: string
        isMalware:
          type: boolean
        latestStable:
          type: boolean
        licenses:
          items:
            $ref: "#/components/schemas/ComponentLicense"
          type: array
        maxCvss:
          format: double
          type: number
        name:
          type: string
        namespace:
          type: string
        originId:
          type: string
        policyCompliance:
          $ref: "#/components/schemas/PolicyComplianceResult"
        publishedDate:
          format: date-time
          type: string
        registryLink:
          type: string
        version:
          type: string
        versionScore:
          format: int32
          type: integer
    ComponentLicense:
      example:
        licenseThreatLevel: 7
        licenseThreatGroup: licenseThreatGroup
        licenseName: licenseName
      properties:
        licenseName:
          type: string
        licenseThreatGroup:
          type: string
        licenseThreatLevel:
          format: int32
          type: integer
    ComponentReport_Get:
      example:
        reference: reference
        sonatypeOssiScore: 0.8008281904610115
        coordinates: coordinates
        description: description
        vulnerabilities:
        - cwe: cwe
          reference: reference
          cvssVector: cvssVector
          externalReferences:
          - externalReferences
          - externalReferences
          cve: cve
          cvssScore: 0.8008281904610115
          displayName: displayName
          description: description
          id: id
          title: title
        - cwe: cwe
          reference: reference
          cvssVector: cvssVector
          externalReferences:
          - externalReferences
          - externalReferences
          cve: cve
          cvssScore: 0.8008281904610115
          displayName: displayName
          description: description
          id: id
          title: title
      properties:
        coordinates:
          type: string
        description:
          type: string
        reference:
          type: string
        sonatypeOssiScore:
          format: double
          type: number
        vulnerabilities:
          items:
            $ref: "#/components/schemas/OssiVulnerability_Get"
          type: array
    ComponentReport_Post:
      example:
        reference: reference
        coordinates: coordinates
        description: description
        vulnerabilities:
        - cwe: cwe
          reference: reference
          cvssVector: cvssVector
          externalReferences:
          - externalReferences
          - externalReferences
          cve: cve
          cvssScore: 0.8008281904610115
          displayName: displayName
          description: description
          id: id
          title: title
        - cwe: cwe
          reference: reference
          cvssVector: cvssVector
          externalReferences:
          - externalReferences
          - externalReferences
          cve: cve
          cvssScore: 0.8008281904610115
          displayName: displayName
          description: description
          id: id
          title: title
      properties:
        coordinates:
          type: string
        description:
          type: string
        reference:
          type: string
        vulnerabilities:
          items:
            $ref: "#/components/schemas/OssiVulnerability_Post"
          type: array
    CreateTokenRequest:
      example:
        name: name
        daysUntilExpiration: 0
      properties:
        daysUntilExpiration:
          format: int32
          type: integer
        name:
          minLength: 1
          type: string
      required:
      - daysUntilExpiration
      - name
    CumulativeCreditUsage:
      example:
        dailyUsage:
        - dailyUsage: 5.962133916683182
          date: 2000-01-23
          cumulativeUsage: 1.4658129805029452
        - dailyUsage: 5.962133916683182
          date: 2000-01-23
          cumulativeUsage: 1.4658129805029452
        peakDay: 5.637376656633329
        totalCreditsUsed: 2.3021358869347655
        creditLimit: 0.8008281904610115
        dailyAverage: 6.027456183070403
      properties:
        creditLimit:
          type: number
        dailyAverage:
          type: number
        dailyUsage:
          items:
            $ref: "#/components/schemas/DailyCreditUsage"
          type: array
        peakDay:
          type: number
        totalCreditsUsed:
          type: number
    DailyCreditUsage:
      example:
        dailyUsage: 5.962133916683182
        date: 2000-01-23
        cumulativeUsage: 1.4658129805029452
      properties:
        cumulativeUsage:
          type: number
        dailyUsage:
          type: number
        date:
          format: date
          type: string
    DtsDimensions:
      example:
        license: 7
        security: 4
        releaseStability: 2
        popularity: 3
        overall: 9
        age: 2
      properties:
        age:
          format: int32
          type: integer
        license:
          format: int32
          type: integer
        overall:
          format: int32
          type: integer
        popularity:
          format: int32
          type: integer
        releaseStability:
          format: int32
          type: integer
        security:
          format: int32
          type: integer
    FromVersion:
      example:
        policyCompliance:
          compliant: true
          conditions:
          - reason: reason
            conditionId: conditionId
            conditionName: conditionName
            passing: true
          - reason: reason
            conditionId: conditionId
            conditionName: conditionName
            passing: true
        vulnerableMethods:
        - methodSignatures:
          - signature: signature
            vulnerableParameters:
            - 2
            - 2
            type: type
          - signature: signature
            vulnerableParameters:
            - 2
            - 2
            type: type
          refid: refid
        - methodSignatures:
          - signature: signature
            vulnerableParameters:
            - 2
            - 2
            type: type
          - signature: signature
            vulnerableParameters:
            - 2
            - 2
            type: type
          refid: refid
        breakingChangesCount: breakingChangesCount
        transitiveVulnerabilities:
          key: 5.637376656633329
        developerTrustScore: 0
        licenseThreatLevels:
          key: 1
        dtsDimensions:
          license: 7
          security: 4
          releaseStability: 2
          popularity: 3
          overall: 9
          age: 2
        version: version
        maxSeverity: 5.962133916683182
        directVulnerabilities:
          key: 6.027456183070403
      properties:
        breakingChangesCount:
          type: string
        developerTrustScore:
          format: int32
          type: integer
        directVulnerabilities:
          additionalProperties:
            format: double
            type: number
        dtsDimensions:
          $ref: "#/components/schemas/DtsDimensions"
        licenseThreatLevels:
          additionalProperties:
            format: int32
            type: integer
        maxSeverity:
          format: double
          type: number
        policyCompliance:
          $ref: "#/components/schemas/PolicyCompliance"
        transitiveVulnerabilities:
          additionalProperties:
            format: double
            type: number
        version:
          type: string
        vulnerableMethods:
          items:
            $ref: "#/components/schemas/RecommendationVulnerableMethod"
          type: array
    InviteUsersRequest:
      example:
        emails:
        - emails
        - emails
      properties:
        emails:
          items:
            type: string
          minItems: 1
          type: array
      required:
      - emails
    Invoice:
      example:
        date: 2000-01-23
        amount: 0.8008281904610115
        pdfUrl: pdfUrl
        totalCredits: 6.027456183070403
        description: description
        id: id
        subscriptionId: subscriptionId
        usedCredits: 1.4658129805029452
        status: status
      properties:
        amount:
          format: double
          type: number
        date:
          format: date
          type: string
        description:
          type: string
        id:
          type: string
        pdfUrl:
          type: string
        status:
          type: string
        subscriptionId:
          type: string
        totalCredits:
          format: double
          type: number
        usedCredits:
          format: double
          type: number
    LatestVersionRequest:
      description: Request body containing the component PURL
      example:
        purl: purl
      properties:
        purl:
          minLength: 1
          type: string
      required:
      - purl
    MethodSignature:
      example:
        signature: signature
        vulnerableParameters:
        - 2
        - 2
        type: type
      properties:
        signature:
          type: string
        type:
          type: string
        vulnerableParameters:
          items:
            format: int32
            type: integer
          type: array
    OrganizationDTO:
      example:
        auth0OrgId: auth0OrgId
        isOwner: true
        name: name
        isBillingSubscriber: true
        logo: logo
        people: 0
        slug: slug
        url: url
      properties:
        auth0OrgId:
          type: string
        isBillingSubscriber:
          type: boolean
        isOwner:
          type: boolean
        logo:
          type: string
        name:
          type: string
        people:
          format: int32
          type: integer
        slug:
          type: string
        url:
          type: string
    OrganizationMembersResponse:
      example:
        invitedHistory:
        - 2000-01-23T04:56:07.000+00:00
        - 2000-01-23T04:56:07.000+00:00
        role: role
        lastActive: 2000-01-23T04:56:07.000+00:00
        joinedAt: 2000-01-23T04:56:07.000+00:00
        name: name
        avatar: avatar
        email: email
        status: ACTIVE
      properties:
        avatar:
          type: string
        email:
          type: string
        invitedHistory:
          items:
            format: date-time
            type: string
          type: array
        joinedAt:
          format: date-time
          type: string
        lastActive:
          format: date-time
          type: string
        name:
          type: string
        role:
          type: string
        status:
          enum:
          - ACTIVE
          - INVITED
          - EXPIRED
          type: string
    OssiMonthlyUsage:
      example:
        estimatedCredits: 0.8008281904610115
        month: month
        totalComponents: 6
      properties:
        estimatedCredits:
          type: number
        month:
          type: string
        totalComponents:
          format: int32
          type: integer
    OssiUsageDataRange:
      example:
        start: start
        end: end
      properties:
        end:
          type: string
        start:
          type: string
    OssiUsageHistoryDTO:
      example:
        summary:
          totalCredits: 5.637376656633329
          dataRange:
            start: start
            end: end
          monthlyAverage: 5.962133916683182
          maxCredits: 1.4658129805029452
        months:
        - estimatedCredits: 0.8008281904610115
          month: month
          totalComponents: 6
        - estimatedCredits: 0.8008281904610115
          month: month
          totalComponents: 6
        isEstimate: true
      properties:
        isEstimate:
          type: boolean
        months:
          items:
            $ref: "#/components/schemas/OssiMonthlyUsage"
          type: array
        summary:
          $ref: "#/components/schemas/OssiUsageSummary"
    OssiUsageSummary:
      example:
        totalCredits: 5.637376656633329
        dataRange:
          start: start
          end: end
        monthlyAverage: 5.962133916683182
        maxCredits: 1.4658129805029452
      properties:
        dataRange:
          $ref: "#/components/schemas/OssiUsageDataRange"
        maxCredits:
          type: number
        monthlyAverage:
          type: number
        totalCredits:
          type: number
    OssiVulnerability_Get:
      example:
        cwe: cwe
        reference: reference
        cvssVector: cvssVector
        externalReferences:
        - externalReferences
        - externalReferences
        cve: cve
        cvssScore: 0.8008281904610115
        displayName: displayName
        description: description
        id: id
        title: title
      properties:
        cve:
          type: string
        cvssScore:
          format: double
          type: number
        cvssVector:
          type: string
        cwe:
          type: string
        description:
          type: string
        displayName:
          type: string
        externalReferences:
          items:
            type: string
          type: array
        id:
          type: string
        reference:
          type: string
        title:
          type: string
    OssiVulnerability_Post:
      example:
        cwe: cwe
        reference: reference
        cvssVector: cvssVector
        externalReferences:
        - externalReferences
        - externalReferences
        cve: cve
        cvssScore: 0.8008281904610115
        displayName: displayName
        description: description
        id: id
        title: title
      properties:
        cve:
          type: string
        cvssScore:
          format: double
          type: number
        cvssVector:
          type: string
        cwe:
          type: string
        description:
          type: string
        displayName:
          type: string
        externalReferences:
          items:
            type: string
          type: array
        id:
          type: string
        reference:
          type: string
        title:
          type: string
    PeriodDTO:
      example:
        start: 2000-01-23
        end: 2000-01-23
      properties:
        end:
          format: date
          type: string
        start:
          format: date
          type: string
    PlanDTO:
      example:
        isCurrentPlan: true
        billingPeriod: PER_MONTH
        displayName: displayName
        price: 6.027456183070403
        chargebeeItemId: chargebeeItemId
        planTier: FREE
        monthlyCredits: 0.8008281904610115
      properties:
        billingPeriod:
          enum:
          - PER_MONTH
          - PER_YEAR
          - CUSTOM
          type: string
        chargebeeItemId:
          type: string
        displayName:
          type: string
        isCurrentPlan:
          type: boolean
        monthlyCredits:
          type: number
        planTier:
          enum:
          - FREE
          - PRO
          - ENTERPRISE
          - TEAM
          type: string
        price:
          format: double
          type: number
    PolicyCompliance:
      example:
        compliant: true
        conditions:
        - reason: reason
          conditionId: conditionId
          conditionName: conditionName
          passing: true
        - reason: reason
          conditionId: conditionId
          conditionName: conditionName
          passing: true
      properties:
        compliant:
          type: boolean
        conditions:
          items:
            $ref: "#/components/schemas/PolicyConditionResult"
          type: array
    PolicyComplianceResult:
      example:
        compliant: true
        conditions:
        - reason: reason
          conditionId: conditionId
          conditionName: conditionName
          passing: true
        - reason: reason
          conditionId: conditionId
          conditionName: conditionName
          passing: true
      properties:
        compliant:
          type: boolean
        conditions:
          items:
            $ref: "#/components/schemas/PolicyConditionResult"
          type: array
    PolicyConditionResult:
      example:
        reason: reason
        conditionId: conditionId
        conditionName: conditionName
        passing: true
      properties:
        conditionId:
          type: string
        conditionName:
          type: string
        passing:
          type: boolean
        reason:
          type: string
    PurlRequest_Post:
      properties:
        coordinates:
          items:
            type: string
          type: array
      required:
      - coordinates
    RecommendationRequest:
      description: Request body containing the component PURL
      example:
        purl: purl
      properties:
        purl:
          minLength: 1
          type: string
      required:
      - purl
    RecommendationResponse:
      example:
        fromVersion:
          policyCompliance:
            compliant: true
            conditions:
            - reason: reason
              conditionId: conditionId
              conditionName: conditionName
              passing: true
            - reason: reason
              conditionId: conditionId
              conditionName: conditionName
              passing: true
          vulnerableMethods:
          - methodSignatures:
            - signature: signature
              vulnerableParameters:
              - 2
              - 2
              type: type
            - signature: signature
              vulnerableParameters:
              - 2
              - 2
              type: type
            refid: refid
          - methodSignatures:
            - signature: signature
              vulnerableParameters:
              - 2
              - 2
              type: type
            - signature: signature
              vulnerableParameters:
              - 2
              - 2
              type: type
            refid: refid
          breakingChangesCount: breakingChangesCount
          transitiveVulnerabilities:
            key: 5.637376656633329
          developerTrustScore: 0
          licenseThreatLevels:
            key: 1
          dtsDimensions:
            license: 7
            security: 4
            releaseStability: 2
            popularity: 3
            overall: 9
            age: 2
          version: version
          maxSeverity: 5.962133916683182
          directVulnerabilities:
            key: 6.027456183070403
        toVersions:
        - policyCompliance:
            compliant: true
            conditions:
            - reason: reason
              conditionId: conditionId
              conditionName: conditionName
              passing: true
            - reason: reason
              conditionId: conditionId
              conditionName: conditionName
              passing: true
          vulnerableMethods:
          - methodSignatures:
            - signature: signature
              vulnerableParameters:
              - 2
              - 2
              type: type
            - signature: signature
              vulnerableParameters:
              - 2
              - 2
              type: type
            refid: refid
          - methodSignatures:
            - signature: signature
              vulnerableParameters:
              - 2
              - 2
              type: type
            - signature: signature
              vulnerableParameters:
              - 2
              - 2
              type: type
            refid: refid
          breakingChangesCount: breakingChangesCount
          transitiveVulnerabilities:
            key: 2.027123023002322
          developerTrustScore: 7
          licenseThreatLevels:
            key: 3
          dtsDimensions:
            license: 7
            security: 4
            releaseStability: 2
            popularity: 3
            overall: 9
            age: 2
          version: version
          directVulnerabilities:
            key: 9.301444243932576
        - policyCompliance:
            compliant: true
            conditions:
            - reason: reason
              conditionId: conditionId
              conditionName: conditionName
              passing: true
            - reason: reason
              conditionId: conditionId
              conditionName: conditionName
              passing: true
          vulnerableMethods:
          - methodSignatures:
            - signature: signature
              vulnerableParameters:
              - 2
              - 2
              type: type
            - signature: signature
              vulnerableParameters:
              - 2
              - 2
              type: type
            refid: refid
          - methodSignatures:
            - signature: signature
              vulnerableParameters:
              - 2
              - 2
              type: type
            - signature: signature
              vulnerableParameters:
              - 2
              - 2
              type: type
            refid: refid
          breakingChangesCount: breakingChangesCount
          transitiveVulnerabilities:
            key: 2.027123023002322
          developerTrustScore: 7
          licenseThreatLevels:
            key: 3
          dtsDimensions:
            license: 7
            security: 4
            releaseStability: 2
            popularity: 3
            overall: 9
            age: 2
          version: version
          directVulnerabilities:
            key: 9.301444243932576
        outcome: FOUND_RECOMMENDATIONS
      properties:
        fromVersion:
          $ref: "#/components/schemas/FromVersion"
        outcome:
          enum:
          - FOUND_RECOMMENDATIONS
          - NO_UPGRADE_NEEDED
          - NO_DATA_FOR_VERSION
          - BLOCKED_BY_POLICY
          type: string
        toVersions:
          items:
            $ref: "#/components/schemas/RecommendedVersion"
          type: array
    RecommendationVulnerableMethod:
      example:
        methodSignatures:
        - signature: signature
          vulnerableParameters:
          - 2
          - 2
          type: type
        - signature: signature
          vulnerableParameters:
          - 2
          - 2
          type: type
        refid: refid
      properties:
        methodSignatures:
          items:
            $ref: "#/components/schemas/MethodSignature"
          type: array
        refid:
          type: string
    RecommendedVersion:
      example:
        policyCompliance:
          compliant: true
          conditions:
          - reason: reason
            conditionId: conditionId
            conditionName: conditionName
            passing: true
          - reason: reason
            conditionId: conditionId
            conditionName: conditionName
            passing: true
        vulnerableMethods:
        - methodSignatures:
          - signature: signature
            vulnerableParameters:
            - 2
            - 2
            type: type
          - signature: signature
            vulnerableParameters:
            - 2
            - 2
            type: type
          refid: refid
        - methodSignatures:
          - signature: signature
            vulnerableParameters:
            - 2
            - 2
            type: type
          - signature: signature
            vulnerableParameters:
            - 2
            - 2
            type: type
          refid: refid
        breakingChangesCount: breakingChangesCount
        transitiveVulnerabilities:
          key: 2.027123023002322
        developerTrustScore: 7
        licenseThreatLevels:
          key: 3
        dtsDimensions:
          license: 7
          security: 4
          releaseStability: 2
          popularity: 3
          overall: 9
          age: 2
        version: version
        directVulnerabilities:
          key: 9.301444243932576
      properties:
        breakingChangesCount:
          type: string
        developerTrustScore:
          format: int32
          type: integer
        directVulnerabilities:
          additionalProperties:
            format: double
            type: number
        dtsDimensions:
          $ref: "#/components/schemas/DtsDimensions"
        licenseThreatLevels:
          additionalProperties:
            format: int32
            type: integer
        policyCompliance:
          $ref: "#/components/schemas/PolicyCompliance"
        transitiveVulnerabilities:
          additionalProperties:
            format: double
            type: number
        version:
          type: string
        vulnerableMethods:
          items:
            $ref: "#/components/schemas/RecommendationVulnerableMethod"
          type: array
    Reference:
      example:
        link: link
        type: type
      properties:
[...]
